<h1>Substrings#new</h1>
<p>Find me in app/views/substrings/new.html.erb</p>
 <div class="card-body">
      <h4 class="card-title"> Enter URL to shorten </h4>
      <%= form_for(@substring) do  |f| %>
        <%= f.label :str1 %><br>
          <%= f.text_field :str1, class: "form-control",
          placeholder: "Enter String" %>
          <%= f.label :str2 %><br>
          <%= f.text_field :str2, class: "form-control",
          placeholder: "Enter pattern to search" %>
          <%= f.submit "Search", class: 'btn btn-primary mt-2' %>
      <% end %>
      </div>